.body {
  width: 2000px;
}
#menu {
  position: relative;
  width: 100%;
  margin: 0px;
  height: 5%;
  min-height: 40px;
  left: 0px;
  right: 0px;
}
.menu-button{
  display: inline-flex;
  margin: 0px 10px;
}
.navbar-nav{
  display: -webkit-box;
}
.visible {
  z-index: 10;
}
#wrapper-timelane-progs-channels {
  position: relative;
  width: 2000px;
  height: 2000px;
  display: block;
  top: 0;
}
#wrapper-timelane-progs {
  /* overflow-x: scroll; */
  float: right;
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  min-height: 800px;
}
.time-lane {
  display: table;
  background: linear-gradient(0.25turn, #6cb9da, #bb8641, #94b97b);

  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  margin-left: 0px;
  padding-left: 0px;
  left: 0;
  /* margin-top: 2px;
  margin-bottom: 2px; */
  min-height: 40px;
  /* left: 15%; */
  /* right: 0; */
  top: 0;
}
.time-lane-hour {
  text-align: center;
  display: table-cell;
  border: solid rgb(14, 51, 14);
  border-width: 2px;
  min-height: 40px;
 
}
#channel-title {
  width: 7%;
}
#channel-column {
  z-index: 1;
  position: fixed;

  display: block;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 10%;
  max-width: 140px;
  color: rgb(220, 230, 214);

  /* margin-top: 10px; */
}
.channel-column-name {
  background-color: rgb(49, 15, 63);
  min-height: 40px;
  border: solid rgb(60, 135, 165);
  border-width: 2px;
width: 140px;
  text-align: center;
  /* text-decoration: khaki; */
}
.channel-column-name p {
  margin: 25% auto;
}

.programms-row {
  position: relative;

  width: 93%;
  background-color: greenyellow;
  border-width: 2px;
  display: block;
  margin: 0;
  /* margin-top: 10px; */
 
  padding: 0%;
}
.all-progs{
  min-height: 40px;
  height: 5%;
  left: 7%;

}

.programms-row-name {
  text-align: center;
  display: inline-flex;
  border: solid rgb(14, 51, 14);
  border-width: 2px;
  min-height: 40px;
  height: 100%;
  

}

